/* global */

footer {
  background-color: var(--bst--footer);
}
h2 {
  font-size: 1.25rem;
}

/* end global */
/* debug */
/* .debug header {
  height: 90px;
  background-color: #2c3e50;
}

.debug .contact {
  background-color: antiquewhite;
  height: 600px;
} */

/* end debug */
/* utility */

:root {
  --bst--primary: #1abc9c;
  --bst--secondary: #2c3e50;
  --bst--footer: #3a546d;
  --bst--light: #ffffff;
}

/* end utility */
/* section */
.bg_nav {
  background-color: var(--bst--secondary);
}
.jumbotron {
  background-color: var(--bst--primary);
}

.about {
  background-color: var(--bst--primary);
}
.link_footer {
  color: var(--bst--primary);
}

.copiright {
  background-color: var(--bst--secondary);
}
.line {
  width: 10%;
  height: 0.2125rem;
  border-radius: 0.125rem;
  background-color: var(--bst--light);
}

.btn_send {
  background-color: var(--bst--primary);
}
.square {
  width: 40px;
  height: 40px;
}
/* end section */
/* media query */

@media screen and (min-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 991px) {
  h2 {
    font-size: 2.25rem;
  }
}
