/* global */

footer {
  background-color: var(--bst--footer);
}

/* end global */
/* debug */
/* .debug header {
  height: 90px;
  background-color: #2c3e50;
}

.debug .contact {
  background-color: antiquewhite;
  height: 600px;
} */

/* end debug */
/* utility */

:root {
  --bst--primary: #1abc9c;
  --bst--secondary: #2c3e50;
  --bst--footer: #3a546d;
  --bst--light: #ffffff;
}

/* end utility */
/* section */
.bg_nav {
  background-color: var(--bst--secondary);
}
.jumbotron {
  background-color: var(--bst--primary);
}

.about {
  background-color: var(--bst--primary);
}
.link_footer {
  color: var(--bst--primary);
}

.copiright {
  background-color: var(--bst--secondary);
}
.line {
  width: 10%;
  height: 0.2125rem;
  border-radius: 0.125rem;
  background-color: var(--bst--light);
}

.square {
  width: 40px;
  height: 40px;
}
/* end section */
